FORMAT: 1A
HOST: http://hardteddy.ru/

# hardteddy
Общая структура ответа сервера:

    {
        status: [0-1],
        body: [...]
    }
    
+ status = 0 - запрос выполнился верно;
+ status = 1 - запрос не выполнился.

## Сохранение запросов [/api/saveapi/*]
Любой Post/Get запрос на /api/saveapi/[RANDOM] будет сохранен в логи.
### Сохранение GET запрос [GET]
+ Response 200 (application/json)

### Сохранение POST запроса [POST]
+ Response 200 (application/json)


##Group Пользователь

## Регистрация [/api/user/register]
Создание пользователя, необходимые поля
+ name - логин пользователя, <br>
    + является уникальным ключем
    + длина от 3 до 16 символов 
    + только символы (латинские) и цифры
+ email - почта пользователя
    + на почту будет выслано письмо [TODO]
+ password1 - пароль,
    + принимается пароль, длина которого >= 6 символов
+ password2 - подтверждение пароля

Ошибки:
+ email:
    + 0 - не прошел валидацию
+ login 
    + 0 - не прошел валидацию
    + 1 - логин уже существует
+ password - 
    + 0 - не прошел валидацию
    + 1 - не совпадает с проверочным паролем


Пример ответа с сервера:

    {
        "body": {
        "email": [
            0
        ],
        "login": [
            0
        ],
        "password": [
            0,
            1
        ]
    },
    "status": 1
    }

### Создание пользователя [POST]
+ Request (application/json)

        {
            "name": "MyUniqueName", 
            "email": "email@email.com", 
            "password1": "password",
            "password2": "password"
        }
+ Response 200 (application/json)

            {
              "sessionid": "ZkFva01uaWhna0p1Q0Jlb1VoV1pQckRhV3VBS3prenI="
            }

## Авторизация [/api/user/login]
Создание пользователя, необходимые поля
+ name - логин пользователя, <br>
является уникальным ключем, <br>
длина от 3 до 16 символов, только символы (латинские) и цифры
+ email - почта пользователя, <br>
на почту будет выслано письмо
+ password1 - пароль,
принимается пароль, длина которого >= 6 символов
+ password1 - подтверждение пароля

Ошибки:
+ email:
    + 0 - не прошел валидацию
+ login 
    + 0 - не прошел валидацию
    + 1 - логин уже существует
+ password - 
    + 0 - не прошел валидацию
    + 1 - не совпадает с проверочным паролем


Пример ответа с сервера:

    {
        "body": {
        "email": [
            0
        ],
        "login": [
            0
        ],
        "password": [
            0,
            1
        ]
    },
    "status": 1
    }

### Создание пользователя [POST]
+ Request (application/json)

        {
            "name": "MyUniqueName", 
            "email": "email@email.com", 
            "password1": "password",
            "password2": "password"
        }
+ Response 200 (application/json)

            {
              "sessionid": "ZkFva01uaWhna0p1Q0Jlb1VoV1pQckRhV3VBS3prenI="
            }